.jumbotron{
	height:444px;
}
.text-format {
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-top: 18px;
}
.text-format__on {
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-top: -15px;
    margin-bottom: 40px;
}
.card {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	margin-top: 45px;
}
.container-fluid {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	height: 250px;
	margin-top: -32px;
}
